data/raw/
data/processed/
data/external/
data/archive/
resources/api/
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.vscode/
.idea/
*.swp
*.out
*.log
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.blg
*.bbl
*~
*.bak
*.tmp
.DS_Store
Thumbs.db